@model IEnumerable<TodoList.Models.DisplayTaskViewModel>

@{
    ViewBag.Title = "Task List";
    if (Session["ShowOtherUsersTasks"] == null)
    {
        Session["ShowOtherUsersTasks"] = "Y";
    }
    if (Session["ShowCompletedTasks"] == null)
    {
        Session["ShowCompletedTasks"] = "Y";
    }
}

<div class="jumbotron">
    <h1>Tasks to be Done</h1>
</div>

<div class="row">
    <div class="col-lg-10">
        <p>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Create a Task", "Create", "Task", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
                @Html.CheckBox("showOthers", ((string)Session["ShowOtherUsersTasks"] == "Y"), htmlAttributes: new { style = "margin-left:30px;", onchange = "SetShowOthers(this.checked);" })
                @Html.Label("", "Show Other Users' Tasks")
            }
            else
            {
                @:Please @Html.ActionLink("log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) if you'd like to add a new task.
            }
            @Html.CheckBox("showCompleted", ((string)Session["ShowCompletedTasks"] == "Y"), htmlAttributes: new { style = "margin-left:30px;", onchange = "SetShowCompleted(this.checked);" })
            @Html.Label("", "Show Completed Tasks")
        </p>
    </div>

    @{
        string currentUser = "";
        foreach (var item in Model)
        {
            if( item.UserID != currentUser )
            {
                if( currentUser != "")
                {
                    @:</div>
                }
                // tag this task if it's not the logged in user
                var userBlockClassName = "col-lg-10";
                var userBlockStyle = "display:inline-block";
                if (item.UserID != User.Identity.GetUserId())
                {
                    userBlockClassName += " notOwnedByMe";
                    var test2 = Session["ShowOtherUsersTasks"];
                    if (((string)Session["ShowOtherUsersTasks"] != "Y"))
                    {
                        userBlockStyle = "display:none";
                    }
                }                
                @:<div class="@userBlockClassName" style="@userBlockStyle">
            <p>Tasks for @Html.DisplayFor(modelItem => item.Username)</p>
                currentUser = item.UserID;
            }
            <div @{ 
                // style the div based on the task status
                string className = "expandableDiv col-lg-10";
                string style = "display:inline-block";
                if( item.StatusID != TodoList.Models.Status.COMPLETE && (item.DeadlineTime != null) && (item.DeadlineTime < DateTime.Now) )
                {
                    className += " overDue";
                }
                else if (item.StatusID == TodoList.Models.Status.NEEDS_DONE)
                {
                    className += " needsDone";
                }
                else if (item.StatusID == TodoList.Models.Status.IN_PROGRESS)
                {
                    className += " inProgress";
                }
                else if (item.StatusID == TodoList.Models.Status.COMPLETE)
                {
                    className += " complete";
                    if( (string)Session["ShowCompletedTasks"] != "Y" )
                    {
                        style = "display:none";
                    }
                }
                @:class="@className" style="@style"
              }>
                <div>
                    <span class="taskName">@Html.DisplayFor(modelItem => item.Name)</span>
                    <span class="deadline">
                        @if (item.StatusID == TodoList.Models.Status.COMPLETE)
                        {
                            @:Completed: @Html.DisplayFor(modelItem => item.CompletionTime)
                        }
                        else if (item.DeadlineTime == null)
                        {
                            @:No deadline
                        }
                        else
                        {
                            @:Deadline: @Html.DisplayFor(modelItem => item.DeadlineTime)
                        }
                    </span>
                </div>
                <div class="expansion col-lg-8" style="display:none;">
                    <p>Created: @Html.DisplayFor(modelItem => item.CreationTime)</p>
                    <p>Status: @Html.DisplayFor(modelItem => item.StatusName)</p>
                    <p>Details:</p>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    @if (Request.IsAuthenticated && item.UserID == User.Identity.GetUserId())
                    {
                        <table style="border-collapse:separate; border-spacing:20px;">
                            <tr>
                                <td>@Html.ActionLink("Edit this Task", "Edit", "Task", routeValues: new { id = item.TodoTaskID }, htmlAttributes: new { @class = "btn btn-default" })</td>
                                <td>@Html.ActionLink("Delete this Task", "Delete", "Task", routeValues: new { id = item.TodoTaskID }, htmlAttributes: new { @class = "btn btn-default" })</td>
                                @{
                                if (item.StatusID == TodoList.Models.Status.NEEDS_DONE)
                                {
                                    // add the logic to change this task to the in progress state
                                    using (Html.BeginForm("ChangeStatus", "Task", new { id=item.TodoTaskID, statusID=TodoList.Models.Status.IN_PROGRESS}, FormMethod.Post, htmlAttributes: new { id = ("begin" + item.TodoTaskID) }))
                                    {
                                        @Html.AntiForgeryToken();
                                    }
                                    <td>
                                        <a href="javascript:ConfirmBegin(@item.TodoTaskID);" class="btn btn-default">Begin this Task</a>
                                    </td>
                                }
                                }
                                @{
                                if (item.StatusID != TodoList.Models.Status.COMPLETE)
                                {
                                    // add the logic to change this task to the completed state
                                    using (Html.BeginForm("ChangeStatus", "Task", new { id=item.TodoTaskID, statusID=TodoList.Models.Status.COMPLETE}, FormMethod.Post, htmlAttributes: new { id = ("complete" + item.TodoTaskID) }))
                                    {
                                        @Html.AntiForgeryToken();
                                    }
                                    <td>
                                        <a href="javascript:ConfirmCompletion(@item.TodoTaskID);" class="btn btn-default">Complete this Task</a>
                                    </td>
                                }
                                }
                            </tr>
                        </table>
                    }
                </div>
            </div>
        }
        if (currentUser != "")
        {
        @:</div>
        }
    }
                    </div>

<script type="text/javascript">
    function ConfirmBegin(taskID) {
        // begin task
        if (confirm("Are you sure you want to begin this task?")) {
            $("form#begin" + taskID).submit();
        }
    }

    function ConfirmCompletion(taskID) {
        // complete task
        if (confirm("Are you sure you've completed this task?")) {
            $("form#complete" + taskID).submit();
        }
    }

    function SetShowOthers(showThem) {
        // set all of the tasks owned by others to this value
        $(".notOwnedByMe").css("display", (showThem ? "inline-block" : "none"));

        // flip the session variable
        $.post("/Home/SetSession", { key: "ShowOtherUsersTasks", value: (showThem ? "Y" : "N") });
    }

    function SetShowCompleted(showThem) {
        // set all of the completed tasks to this value
        $(".complete").css("display", (showThem ? "inline-block" : "none"));

        // flip the session variable
        $.post("/Home/SetSession", { key: "ShowCompletedTasks", value: (showThem ? "Y" : "N") });
    }

    // show the specified div
    function ShowRow(div) {
        div.find(".expansion").css("display", "inline-block");
    }

    // hide the specified div
    function HideRow(div) {
        div.find(".expansion").css("display", "none");
    }

    // add the proper hover function to all of the divs we can show/hide
    $(".expandableDiv").hover(function () { ShowRow($(this)); }, function () { HideRow($(this)); });
</script>

